@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: pacifico;
    pointer-events: none;
  }
  h2 {
    font-family: pacifico;
    pointer-events: none;
  }
  p {
    pointer-events: none;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
